<div class='o-float-box'>
  <div>
    <div class='d-inline-block ml-3'>
      <app-language-selector></app-language-selector>
    </div>
  </div>
  <div class='o-float-box__container'>
    <div class='o-float-box__content'>
      <h4 class='o-float-box__header' translate>
       Renew your Password!
      </h4>
      <form (ngSubmit)='renewPassword()' [formGroup]='form' novalidate>
        <div class='m-3'>
          <div class='alert alert-danger' [hidden]='!error || isLoading' translate>
            Password incorrect.
          </div>

          <div class='d-flex flex-column mb-4'>
            <div class='input-group input-group-lg'>
              <input
                [type]="showPassword ? 'text' : 'password'"
                class='form-control'
                formControlName='password'
                autocomplete='current-password'
                [placeholder]="'Password' | translate"
                required
              />
              <span class='input-group-text' (click)='toggleShowPassword()'>
                    <i [hidden]='showPassword' class='fas fa-eye'></i>
                    <i [hidden]='!showPassword' class='fas fa-eye-slash'></i>
                 </span>
            </div>
            <span hidden translate>Password</span>
            <small
              [hidden]='form.controls.password.valid || form.controls.password.untouched'
              class='text-danger'
              translate
            >
              Password is required
            </small>
          </div>

          <div class='d-flex flex-row mb-4 justify-content-evenly'>
            <div class='form-check'>
              <input type='checkbox' class='form-check-input' formControlName='agree' id='agree' role='switch' />
              <label for='agree' translate>I agree!</label>
            </div>
          </div>

          <button class='btn btn-primary w-100 btn-lg' type='submit' [disabled]='form.invalid || isLoading'>
            <i class='fas fa-cog fa-spin' [hidden]='!isLoading'></i>
            <span translate>Renew Password</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
