<ng-content></ng-content>
<div *ngIf="feedbackMessage && invalidFeedbackMessage && isInvalid" class="invalid-feedback">
  <span #invalidTpl><ng-content select="[invalid]"></ng-content></span>
  <span *ngIf="!invalidTpl.innerHTML.trim()">Please provide a valid value</span>
</div>

<div *ngIf="feedbackMessage && validFeedbackMessage && isValid" class="valid-feedback">
  <span #validTpl><ng-content select="[valid]"></ng-content></span>
  <span *ngIf="!validTpl.innerHTML.trim()">Valid!</span>
</div>
