<app-page>
  <span page-title>People</span>
  <a page-action-bar class="btn btn-primary" role="button" [routerLink]="paths.create">
    <i class="fas fa-plus fa-fw"></i> {{ paths.toTitle(paths.create) }} {{ routes.starwars.children.person.title }}
  </a>

  <div *ngIf="(data$ | async)?.page as gridData">
    <app-grid [data]="gridData" [searchBar]="true">
      <ng-container search-fields>
        <div class="col-auto">
          <input class="form-control" id="name" name="name" placeholder="Name" type="text" />
        </div>
      </ng-container>

      <table class="table table-striped table-hover" grid-view>
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Birth Year</th>
            <th scope="col">Gender</th>
            <th scope="col">Films</th>
            <th scope="col">Updated at</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let person of gridData.items">
            <td>{{ person.id }}</td>
            <td>{{ person.name }}</td>
            <td>{{ person.birth_year }}</td>
            <td>{{ person.gender }}</td>
            <td>{{ person.films.length }}</td>
            <td>{{ person.edited }}</td>
            <td>
              <a [routerLink]="person.id" class="btn btn-outline-primary btn-sm" role="button">
                <i class="far fa-eye fa-tw"></i>
                {{ paths.toTitle(paths.view) }}
              </a>
              <a [routerLink]="[person.id, paths.edit]" class="btn btn-outline-info btn-sm" role="button">
                <i class="fas fa-pencil-alt fa-fw"></i>
              </a>
              <button (click)="delete(person, $event)" class="btn btn-outline-danger btn-sm" type="button">
                <i class="far fa-trash-alt fa-fw"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </app-grid>
  </div>
</app-page>
