<ul class="nav nav-pills">
  <li class="nav-item">
    <a aria-current="page" class="nav-link" routerLink="basic" routerLinkActive="active">
      basic
      <i class="far fa-check-circle" *ngIf="checkValid('basic')"></i>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="visual" routerLinkActive="active">
      visual <i class="far fa-check-circle" *ngIf="checkValid('visual')"></i
    ></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="extra-info" routerLinkActive="active">
      extra-info
      <i class="far fa-check-circle" *ngIf="checkValid('extraInfo')"></i>
    </a>
  </li>
</ul>
<router-outlet></router-outlet>

<button (click)="save()" [disabled]="!isValid" class="btn btn-info">Save</button>

<app-form-debug [form]="getValues()"></app-form-debug>
