/* ==========================================================================
   #APP navbar navbar
   ========================================================================== */

.c-navbar {
  --bs-bg-opacity: 1;

  display: flex;
  flex: 1;
  flex: 0 0 auto;
  flex-direction: column;
  width: auto;
  max-width: 220px;
  padding: 0;
  background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity));

  @include media-breakpoint-up(md) {
    width: calc(140px + 4vw);
  }

  &__body {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-y: hidden;
    scrollbar-gutter: stable;
    @extend .o-scrollbar--thin;

    &:hover {
      overflow-y: auto;
    }
  }

  &__header {
    display: flex;
    flex-direction: column;
    background-color: var(--bs-primary);
    height: 50px;
  }

  &__footer {
    display: flex;
    flex-direction: column;
  }

  &__nav {
    @extend .o-vertical-list;

    //&__item {
    //}

    &__link {
      display: flex;
      flex-direction: row;
      align-content: center;
      align-items: center;
      flex: 1;
      padding: 1em;
      text-decoration: none;

      &:hover {
        background-color: #7f7f7f;
      }

      &--hidden {
        display: none;
      }
    }
  }
}
