/* ==========================================================================
   #APP navbar navbar
   ========================================================================== */

.c-navbar {
  $navbar: &;

  --bs-bg-opacity: 1;

  display: flex;
  flex: 1;
  flex: 0 0 auto;
  flex-direction: column;
  width: auto;
  max-width: 220px;
  padding: 0;
  background-color: rgba(var(--bs-rgb), var(--bs-bg-opacity));
  border-right: 1px solid #e6e6e6;

  @include media-breakpoint-up(md) {
    width: calc(140px + 4vw);
  }

  &__body {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-y: hidden;
    @extend .o-scrollbar--thin;

    &:hover {
      overflow-y: auto;
      /* stylelint-disable */
      @media screen and (-webkit-min-device-pixel-ratio: 0) {
        overflow-y: overlay;
      }
      /* stylelint-enable */
    }
  }

  &__header {
    display: flex;
    flex-direction: column;
    background-color: var(--bs-primary);
    max-height: 50px;
  }

  &__footer {
    display: flex;
    flex-direction: column;
  }

  &__nav {
    @extend .o-vertical-list;

    & & {
      display: none;

      #{$navbar}__link {
        padding-left: 2em;
      }
    }
  }

  &__item {
    &--dropping > #{$navbar}__link {
      @extend .o-dropdown-toggle;
    }

    &--active #{$navbar}__nav {
      display: block;
    }    
  }

  &__link {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    flex: 1;
    padding: 1em;
    text-decoration: none;
    border-bottom: 1px solid #e6e6e6;

    &:hover {
      background-color: #7f7f7f;
    }

    &--active {
      background-color: var(--bs-primary);
      color: var(--bs-white);
    }

    #{$navbar}__item--dropping > &--active {
      background-color: rgba(gray, 0.4);
      color: white;
    }
  }
}
