<app-reactive-partial-form [formGroup]="formGroup" [edit]="isEditing" class="row g-3 needs-validation">
  <app-reactive-text class="col-md-6" formControlName="species"> species</app-reactive-text>

  <app-reactive-combo-multi
    [source]="extraData.films"
    class="col-md-6"
    formControlName="films"
    label="title"
    value="url"
  >
    Films
  </app-reactive-combo-multi>

  <div class="col-md-6">
    <div class="d-flex flex-row justify-content-between">
      <h4>Starships ({{ starships.controls.length }})</h4>
      <button (click)="addControl('starships')" class="btn btn-link btn-sm text-success" type="button">
        <i class="fas fa-plus-circle fa-2x"></i>
      </button>
    </div>
    <div
      *ngFor="let control of starships.controls; index as i"
      class="col-md-12 d-flex flex-row"
      formArrayName="starships"
    >
      <app-reactive-text [formControlName]="i" [formControl]="control" class="w-100">
        starships-{{ i + 1 }}</app-reactive-text
      >
      <button (click)="removeAtControl('starships', i)" class="btn btn-link btn-sm text-danger" type="button">
        <i class="far fa-trash-alt"></i>
      </button>
    </div>
  </div>

  <div class="col-md-6">
    <div class="d-flex flex-row justify-content-between">
      <h4>Vehicles ({{ vehicles.controls.length }})</h4>
      <button (click)="addControl('vehicles')" class="btn btn-link btn-sm text-success" type="button">
        <i class="fas fa-plus-circle fa-2x"></i>
      </button>
    </div>
    <div
      *ngFor="let control of vehicles.controls; index as i"
      class="col-md-12 d-flex flex-row"
      formArrayName="vehicles"
    >
      <app-reactive-text [formControlName]="i" [formControl]="control" class="w-100">
        vehicle-{{ i + 1 }}</app-reactive-text
      >
      <button (click)="removeAtControl('vehicles', i)" class="btn btn-link btn-sm text-danger" type="button">
        <i class="far fa-trash-alt"></i>
      </button>
    </div>
  </div>
</app-reactive-partial-form>
