<app-reactive-partial-form [formGroup]="formGroup" [edit]="isEditing" class="row g-3 needs-validation">
  <app-reactive-text class="col-md-6" formControlName="name">
    Person name
    <ng-container invalid>Pay attention here!</ng-container>
    <ng-container valid>Nice!</ng-container>
  </app-reactive-text>

  <app-reactive-text class="col-md-3" formControlName="birth_year"> birth_year </app-reactive-text>

  <app-reactive-combo class="col-md-3" formControlName="gender" [data]="selectedGenders"> gender </app-reactive-combo>

  <app-reactive-text class="col-md-6" formControlName="homeworld"> homeworld</app-reactive-text>
</app-reactive-partial-form>
