<header class="c-navbar__header"></header>
<nav class="c-navbar__body">
  <ul class="c-navbar__nav">
    <li class="c-navbar__item" routerLinkActive="c-navbar__item--active">
      <a routerLink="/home" routerLinkActive="c-navbar__link--active" class="c-navbar__link">
        <i class="fas fa-home"></i> <span class="ms-1 d-none d-sm-inline" translate>Home</span>
      </a>
    </li>
    <li class="c-navbar__item" routerLinkActive="c-navbar__item--active">
      <a routerLink="/about" routerLinkActive="c-navbar__link--active" data-bs-toggle="collapse" class="c-navbar__link">
        <i class="fas fa-question-circle"></i> <span class="ms-1 d-none d-sm-inline" translate>Dashboard</span>
      </a>
    </li>
    <li class="c-navbar__item" routerLinkActive="c-navbar__item--active">
      <a
        routerLink="/starwars/people"
        routerLinkActive="c-navbar__link--active"
        data-bs-toggle="collapse"
        class="c-navbar__link"
      >
        <i class="fas fa-question-circle"></i> <span class="ms-1 d-none d-sm-inline" translate>Starwars API</span>
      </a>
      <ul class="c-navbar__nav" id="submenu1" data-bs-parent="#menu">
        <li class="c-navbar__item">
          <a class="c-navbar__link" routerLink="/starwars/people" routerLinkActive="c-navbar__link--active">
            <i class="far fa-address-book"></i> <span class="ms-1 d-none d-sm-inline" translate>People</span>
          </a>
        </li>
        <li class="c-navbar__item">
          <a class="c-navbar__link" routerLink="/starwars/xxx" routerLinkActive="c-navbar__link--active">
            <i class="far fa-bookmark"></i> <span class="ms-1 d-none d-sm-inline" translate>Starwars API</span>
          </a>
        </li>
      </ul>
    </li>
    <li class="c-navbar__item">
      <a href="#" class="c-navbar__link">
        <i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline">Orders</span></a
      >
    </li>
    <li class="c-navbar__item">
      <a href="#submenu2" data-bs-toggle="collapse" class="c-navbar__link">
        <i class="fs-4 bi-bootstrap"></i> <span class="ms-1 d-none d-sm-inline">Bootstrap</span></a
      >
      <ul class="c-navbar__nav" id="submenu2" data-bs-parent="#menu">
        <li class="c-navbar__item">
          <a href="#" class="c-navbar__link"> <span class="d-none d-sm-inline">Item</span> 1</a>
        </li>
        <li class="c-navbar__item">
          <a href="#" class="c-navbar__link"> <span class="d-none d-sm-inline">Item</span> 2</a>
        </li>
      </ul>
    </li>
    <li class="c-navbar__item">
      <a href="#submenu3" data-bs-toggle="collapse" class="c-navbar__link">
        <i class="fs-4 bi-grid"></i> <span class="ms-1 d-none d-sm-inline">Products</span>
      </a>
      <ul class="c-navbar__nav" id="submenu3" data-bs-parent="#menu">
        <li class="w-100">
          <a href="#" class="c-navbar__link"> <span class="d-none d-sm-inline">Product</span> 1</a>
        </li>
        <li>
          <a href="#" class="c-navbar__link"> <span class="d-none d-sm-inline">Product</span> 2</a>
        </li>
        <li>
          <a href="#" class="c-navbar__link"> <span class="d-none d-sm-inline">Product</span> 3</a>
        </li>
        <li>
          <a href="#" class="c-navbar__link"> <span class="d-none d-sm-inline">Product</span> 4</a>
        </li>
      </ul>
    </li>
  </ul>
</nav>
<hr />
<footer class="c-navbar__footer">
  <div class="dropdown pb-4">
    <a
      href="#"
      class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
      id="dropdownUser1"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
      <img src="https://github.com/mdo.png" alt="hugenerd" width="30" height="30" class="rounded-circle" />
      <span class="d-none d-sm-inline mx-1">loser</span>
    </a>
    <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
      <li><a class="dropdown-item" href="#">New project...</a></li>
      <li><a class="dropdown-item" href="#">Settings</a></li>
      <li><a class="dropdown-item" href="#">Profile</a></li>
      <li>
        <hr class="dropdown-divider" />
      </li>
      <li><a class="dropdown-item" href="#">Sign out</a></li>
    </ul>
  </div>
</footer>
