<app-reactive-partial-form [formGroup]="formGroup" [edit]="isEditing" class="row g-3 needs-validation">
  <app-reactive-text class="col-md-3" formControlName="height"> height</app-reactive-text>

  <app-reactive-text class="col-md-3" formControlName="mass"> mass</app-reactive-text>

  <app-reactive-text class="col-md-3" formControlName="eye_color"> eye_color</app-reactive-text>

  <app-reactive-text class="col-md-3" formControlName="hair_color"> hair_color</app-reactive-text>

  <app-reactive-text class="col-md-3" formControlName="skin_color"> skin_color</app-reactive-text>
</app-reactive-partial-form>
