<div class='o-float-box'>
  <div>
    <div class='d-inline-block ml-3'>
      <app-language-selector></app-language-selector>
    </div>
  </div>
  <ng-container *ngIf="pageType===types.RECOVERY; then resetPassword; else securityCode"></ng-container>
</div>

<ng-template #resetPassword>
  <div class='o-float-box__container'>
    <div class='o-float-box__content'>
      <h4 class='o-float-box__header' translate>
        Reset your Password
      </h4>
      <form (ngSubmit)='startForgotPassword()' [formGroup]='formEmail' novalidate>
        <div class='m-3'>
          <div class='alert alert-danger' [hidden]='!error || isLoading' translate>
            Username or password incorrect.
          </div>
          <div class='d-flex flex-column mb-4'>
            <div class='input-group input-group-lg'>
              <input
                type='text'
                class='form-control'
                formControlName='email'
                autocomplete='email'
                [placeholder]="'Email' | translate"
              />
            </div>
            <span hidden translate>Username</span>
            <small
              [hidden]='formEmail.controls.email.valid || formEmail.controls.email.untouched'
              class='text-danger'
              translate
            >
              Username is required
            </small>
          </div>

          <button class='btn btn-primary w-100 btn-lg' type='submit' [disabled]='formEmail.invalid || isLoading'>
            <i class='fas fa-cog fa-spin' [hidden]='!isLoading'></i>
            <span translate>Reset Password</span>
          </button>

          <div class='d-flex flex-row mt-5 mx-2 justify-content-end'>
            <p><a [routerLink]='routes.login.path' translate>Sign in</a></p>
          </div>
        </div>
      </form>
    </div>
  </div>
</ng-template>

<ng-template #securityCode>
  <div class='o-float-box__container'>
    <div class='o-float-box__content'>
      <h4 class='o-float-box__header' translate>
        Enter with security code
      </h4>
      <p class='o-float-box__header'>
        <span translate>The security code has been sent to your email:</span>
        <span class='font-weight-bold'>{{email}}</span>
      </p>
      <form (ngSubmit)='recoveryToken()' [formGroup]='formSecurityCode' novalidate>
        <div class='m-3'>
          <div class='alert alert-danger' [hidden]='!error || isLoading' translate>
            Security Code incorrect.
          </div>
          <div class='d-flex flex-column mb-4'>
            <div class='input-group input-group-lg'>
              <input
                type='text'
                class='form-control'
                formControlName='code'
                autocomplete='code'
                [placeholder]="'Security Code' | translate"
              />
            </div>
            <span hidden translate>Security Code</span>
            <small
              [hidden]='formSecurityCode.controls.code.valid || formSecurityCode.controls.code.untouched'
              class='text-danger'
              translate
            >
              Security Code is required
            </small>
          </div>

          <button class='btn btn-primary w-100 btn-lg' type='submit' [disabled]='formSecurityCode.invalid || isLoading'>
            <i class='fas fa-cog fa-spin' [hidden]='!isLoading'></i>
            <span translate>Send Security Code</span>
          </button>

          <div class='d-flex flex-row mt-5 mx-2 justify-content-end'>
            <p><a [routerLink]='routes.login.path' translate>Sign in</a></p>
          </div>
        </div>
      </form>
    </div>
  </div>
</ng-template>

