<div class="container">
  <header class="d-flex justify-content-between">
    <h2>People</h2>
    <a routerLink="new" role="button" class="btn btn-primary d-flex align-items-center">
      <i class="fas fa-plus fa-fw"></i>
      New Person</a
    >
  </header>

  <div *ngIf="(data$ | async)?.page as gridData" class="container">
    <!--  <form class="stn-tool-bar" (submit)="applyFilter(page.params, filterName.value, filterAge.value, filterRole.value)">-->
    <!--    <h4>Filter</h4>-->
    <!--    <div class="form-row">-->
    <!--      <div class="col-md-4">-->
    <!--        <input-->
    <!--          type="text"-->
    <!--          class="form-control"-->
    <!--          placeholder="Name"-->
    <!--          name="name"-->
    <!--          [ngModel]="page.params.domain.name"-->
    <!--          #filterName-->
    <!--        />-->
    <!--      </div>-->
    <!--      <div class="col-md-2">-->
    <!--        <input-->
    <!--          type="number"-->
    <!--          class="form-control"-->
    <!--          placeholder="Age"-->
    <!--          name="age"-->
    <!--          [ngModel]="page.params.domain.age"-->
    <!--          #filterAge-->
    <!--        />-->
    <!--      </div>-->
    <!--      <div class="col-md-5">-->
    <!--        <select id="inputState" class="form-control" name="role" [ngModel]="page.params.domain.role" #filterRole>-->
    <!--          <option value="">Role...</option>-->
    <!--          <option *ngFor="let role of roles$ | async" [value]="role">{{ role }}</option>-->
    <!--        </select>-->
    <!--      </div>-->
    <!--    </div>-->
    <!--    <div class="stn-action-bar">-->
    <!--      <button type="reset" value="Reset" class="btn btn-outline-warning btn-sm">-->
    <!--        <i class="fas fa-undo fa-fw"></i>-->
    <!--        Reset-->
    <!--      </button>-->
    <!--      <button type="submit" class="btn btn-outline-primary">-->
    <!--        <i class="fas fa-search fa-fw"></i>-->
    <!--        Apply-->
    <!--      </button>-->
    <!--    </div>-->
    <!--  </form>-->
    <app-grid [data]="gridData">
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Birth Year</th>
            <th scope="col">Gender</th>
            <th scope="col">Films</th>
            <th scope="col">Updated at</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let person of gridData.items">
            <td>{{ person.id }}</td>
            <td>{{ person.name }}</td>
            <td>{{ person.birth_year }}</td>
            <td>{{ person.gender }}</td>
            <td>{{ person.films.length }}</td>
            <td>{{ person.edited }}</td>
            <td>
              <a role="button" class="btn btn-outline-primary btn-sm" [routerLink]="person.id">
                <i class="far fa-eye fa-tw"></i>
                View
              </a>
              <a role="button" class="btn btn-outline-info btn-sm" [routerLink]="[person.id, 'edit']">
                <i class="fas fa-pencil-alt fa-fw"></i>
              </a>
              <button type="button" class="btn btn-outline-danger btn-sm" (click)="delete(person, $event)">
                <i class="far fa-trash-alt fa-fw"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </app-grid>
  </div>
</div>
