<app-page *ngIf="formData">
  <span *ngIf="pristineData?.id; else creationTitle" page-title>Editing {{ pristineData.name }}</span>
  <ng-template #creationTitle>
    <h4>Add new person</h4>
  </ng-template>

  <app-form #form class="row g-3 needs-validation" (formSubmit)="submit($event)">
    <div app-form-field-feedback class="col-md-4">
      <label class="form-label" for="name">First name</label>
      <input
        class="form-control"
        id="name"
        minlength="5"
        name="name"
        [(ngModel)]="formData.name"
        required
        type="text"
      />
      <span invalid>Pay attention here!</span>
      <span valid>Nice!</span>
    </div>
    <div app-form-field-feedback class="col-md-4">
      <label class="form-label" for="lastName">Last name</label>
      <input class="form-control" id="lastName" minlength="5" name="lastName" ngModel required type="text" />
    </div>
    <div class="col-md-4">
      <label class="form-label" for="username">Username</label>
      <div app-form-field-feedback class="input-group has-validation">
        <span class="input-group-text" id="inputGroupPrepend">@</span>
        <input
          aria-describedby="inputGroupPrepend"
          class="form-control"
          id="username"
          minlength="6"
          name="username"
          ngModel
          required
          type="text"
        />
      </div>
    </div>
    <div app-form-field-feedback class="col-md-6">
      <label class="form-label" for="city">City</label>
      <input class="form-control" id="city" minlength="6" name="city" ngModel required type="text" />
    </div>
    <div app-form-field-feedback class="col-md-3">
      <label class="form-label" for="state">State</label>
      <select class="form-select" id="state" name="state" ngModel required>
        <option selected value="">Choose...</option>
        <option>State 01</option>
      </select>
    </div>
    <div app-form-field-feedback class="col-md-3">
      <label class="form-label" for="zipcode">Zip</label>
      <input
        class="form-control"
        id="zipcode"
        name="zipcode"
        ngModel
        pattern="^\d{5}(?:\d{3})?$"
        required
        type="text"
      />
    </div>
    <div class="col-12">
      <div app-form-field-feedback class="form-check" [validFeedbackMessage]="false">
        <input class="form-check-input" id="agreement" name="agreement" ngModel required type="checkbox" value="" />
        <label class="form-check-label" for="agreement"> Agree to terms and conditions </label>
        <span invalid>You must agree before submitting.</span>
      </div>
    </div>
    <div class="col-12">
      <div app-form-field-feedback class="form-check" [validFeedbackMessage]="false">
        <input
          #flexRadioDefault1="ngModel"
          class="form-check-input"
          id="flexRadioDefault1"
          name="flexRadioDefault"
          ngModel
          type="radio"
          value="A"
          required
        />
        <label class="form-check-label" for="flexRadioDefault1"> No car </label>
        <span invalid>You must agree before submitting.</span>
      </div>
      <div app-form-field-feedback class="form-check" [validFeedbackMessage]="false">
        <input
          #flexRadioDefault2
          class="form-check-input"
          id="flexRadioDefault2"
          name="flexRadioDefault"
          type="radio"
          ngModel
          value="B"
          required
        />
        <label class="form-check-label" for="flexRadioDefault2"> Show Car form </label>
        <span invalid>You must agree before submitting.</span>
      </div>
    </div>
    <div *ngIf="flexRadioDefault2.checked">
      <div *ngFor="let car of cars; index as i">
        <div app-form-field-feedback class="col-md-4">
          <label class="form-label" [for]="'car_' + car">Car {{ i + 1 }}:</label>
          <input
            [appAsyncModel]="form"
            class="form-control"
            id="car_{{ car }}"
            minlength="10"
            name="car_{{ car }}"
            ngModel
            required
            type="text"
          />
        </div>
      </div>
    </div>
  </app-form>
</app-page>
