<app-page *ngIf="formGroup">
  <span *ngIf="isEditing; else creationTitle" page-title>Editing {{ pristineData.name }}</span>
  <ng-template #creationTitle>
    <h4>Add new person</h4>
  </ng-template>

  <app-form (formSubmit)="submit($event)" [edit]="isEditing" [formGroup]="formGroup" class="row g-3 needs-validation">
    <app-reactive-text class="col-md-6" formControlName="name">
      Person name
      <ng-container invalid>Pay attention here!</ng-container>
      <ng-container valid>Nice!</ng-container>
    </app-reactive-text>

    <app-reactive-text class="col-md-3" formControlName="birth_year"> birth_year </app-reactive-text>

    <app-reactive-combo class="col-md-3" formControlName="gender" gender="xxx">
      gender
      <ng-container options>
        <option selected>Choose...</option>
        <option *ngFor="let gender of genders" [value]="gender">{{ gender }}</option>
      </ng-container>
    </app-reactive-combo>

    <app-reactive-text class="col-md-3" formControlName="height"> height</app-reactive-text>

    <app-reactive-text class="col-md-3" formControlName="mass"> mass</app-reactive-text>

    <app-reactive-text class="col-md-3" formControlName="eye_color"> eye_color</app-reactive-text>

    <app-reactive-text class="col-md-3" formControlName="hair_color"> hair_color</app-reactive-text>

    <app-reactive-text class="col-md-3" formControlName="skin_color"> skin_color</app-reactive-text>

    <app-reactive-text class="col-md-3" formControlName="species"> species</app-reactive-text>

    <app-reactive-text class="col-md-6" formControlName="homeworld"> homeworld</app-reactive-text>

    <div class="row g-1 g-md-3">
      <div class="col-md-6">
        <app-reactive-combo-multi [source]="films" class="col-md-6" formControlName="films" label="title" value="url">
          Films
        </app-reactive-combo-multi>
      </div>
      <div class="col-md-6">
        <app-reactive-text class="col-md-12" formControlName="created">created</app-reactive-text>
        <app-reactive-text class="col-md-12" formControlName="edited">edited</app-reactive-text>
      </div>
    </div>

    <div class="row g-1 g-md-3">
      <div class="col-md-6">
        <div class="d-flex flex-row justify-content-between">
          <h4>Starships ({{ formGroup.controls.starships.controls.length }})</h4>
          <button (click)="addControl('starships')" class="btn btn-link btn-sm text-success" type="button">
            <i class="fas fa-plus-circle fa-2x"></i>
          </button>
        </div>
        <div
          *ngFor="let control of formGroup.controls.starships.controls; index as i"
          class="col-md-12 d-flex flex-row"
          formArrayName="starships"
        >
          <app-reactive-text [formControlName]="i" [formControl]="control" class="w-100">
            starships-{{ i + 1 }}</app-reactive-text
          >
          <button (click)="removeAtControl('starships', i)" class="btn btn-link btn-sm text-danger" type="button">
            <i class="far fa-trash-alt"></i>
          </button>
        </div>
      </div>

      <div class="col-md-6">
        <div class="d-flex flex-row justify-content-between">
          <h4>Vehicles ({{ formGroup.controls.vehicles.controls.length }})</h4>
          <button (click)="addControl('vehicles')" class="btn btn-link btn-sm text-success" type="button">
            <i class="fas fa-plus-circle fa-2x"></i>
          </button>
        </div>
        <div
          *ngFor="let control of formGroup.controls.vehicles.controls; index as i"
          class="col-md-12 d-flex flex-row"
          formArrayName="vehicles"
        >
          <app-reactive-text [formControlName]="i" [formControl]="control" class="w-100">
            vehicle-{{ i + 1 }}</app-reactive-text
          >
          <button (click)="removeAtControl('vehicles', i)" class="btn btn-link btn-sm text-danger" type="button">
            <i class="far fa-trash-alt"></i>
          </button>
        </div>
      </div>
    </div>
  </app-form>
</app-page>
