$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";

$font-family-sans-serif: $brand-font;
$font-family-monospace: $brand-font-secondary;
$font-family-base: $font-family-sans-serif !default;

$font-size-base: $base-font-size;
$line-height-base: $base-line-height;
