/* stylelint-disable scss/dollar-variable-colon-space-after */

/* ==========================================================================
   #GLOBAL
   ========================================================================== */

/* #BRAND
   ========================================================================== */

/* Color */

$brand-color: #003b6a !default;
$brand-color-secondary: #E20015 !default;

/* Font */

$brand-font: "bosch", "boschsans", "Helvetica Neue", Helvetica, Arial, sans-serif!default;
$brand-font-secondary: "Georgia", serif !default;

/* #BASE
   ========================================================================== */

/* Font */

$body-color: #666;
$base-font-size: 1.1rem;
$base-line-height: 1.1;
