<app-page *ngIf="(data$ | async)?.person as person">
  <span *ngIf="person.id; else creationTitle" page-title>Edit person</span>
  <ng-template #creationTitle>
    <h4>Add new person</h4>
  </ng-template>

  <app-form class="row g-3 needs-validation" (formSubmit)="submit($event)">
    <div app-form-field-feedback [model]="firstName" class="col-md-4">
      <label class="form-label" for="firstName">First name</label>
      <input
        #firstName="ngModel"
        [ngClass]="{
          'is-valid': firstName.touched && firstName.valid,
          'is-invalid': firstName.touched && firstName.invalid
        }"
        class="form-control"
        id="firstName"
        minlength="5"
        name="firstName"
        ngModel
        required
        type="text"
      />
      <span invalid>Pay attention here!</span>
      <span valid>Nice!</span>
    </div>
    <div app-form-field-feedback [model]="lastName" class="col-md-4">
      <label class="form-label" for="lastName">Last name</label>
      <input
        #lastName="ngModel"
        [ngClass]="{
          'is-valid': lastName.touched && lastName.valid,
          'is-invalid': lastName.touched && lastName.invalid
        }"
        class="form-control"
        id="lastName"
        minlength="5"
        name="lastName"
        ngModel
        required
        type="text"
      />
    </div>
    <div class="col-md-4">
      <label class="form-label" for="username">Username</label>
      <div app-form-field-feedback [model]="username" class="input-group has-validation">
        <span class="input-group-text" id="inputGroupPrepend">@</span>
        <input
          #username="ngModel"
          [ngClass]="{
            'is-valid': username.touched && username.valid,
            'is-invalid': username.touched && username.invalid
          }"
          aria-describedby="inputGroupPrepend"
          class="form-control"
          id="username"
          minlength="6"
          name="username"
          ngModel
          required
          type="text"
        />
      </div>
    </div>
    <div app-form-field-feedback [model]="city" class="col-md-6">
      <label class="form-label" for="city">City</label>
      <input
        #city="ngModel"
        [ngClass]="{ 'is-valid': city.touched && city.valid, 'is-invalid': city.touched && city.invalid }"
        class="form-control"
        id="city"
        minlength="6"
        name="city"
        ngModel
        required
        type="text"
      />
    </div>
    <div app-form-field-feedback [model]="state" class="col-md-3">
      <label class="form-label" for="state">State</label>
      <select
        #state="ngModel"
        [ngClass]="{ 'is-valid': state.touched && state.valid, 'is-invalid': state.touched && state.invalid }"
        class="form-select"
        id="state"
        name="state"
        ngModel
        required
      >
        <option selected value="">Choose...</option>
        <option>State 01</option>
      </select>
    </div>
    <div app-form-field-feedback [model]="zip" class="col-md-3">
      <label class="form-label" for="zipcode">Zip</label>
      <input
        #zip="ngModel"
        [ngClass]="{ 'is-valid': zip.touched && zip.valid, 'is-invalid': zip.touched && zip.invalid }"
        class="form-control"
        id="zipcode"
        name="zipcode"
        ngModel
        pattern="^\d{5}(?:\d{3})?$"
        required
        type="text"
      />
    </div>
    <div class="col-12">
      <div app-form-field-feedback [model]="agreement" class="form-check" [validFeedbackMessage]="false">
        <input
          #agreement="ngModel"
          [ngClass]="{
            'is-valid': agreement.touched && agreement.valid,
            'is-invalid': agreement.touched && agreement.invalid
          }"
          class="form-check-input"
          id="agreement"
          name="agreement"
          ngModel
          required
          type="checkbox"
          value=""
        />
        <label class="form-check-label" for="agreement"> Agree to terms and conditions </label>
        <span invalid>You must agree before submitting.</span>
      </div>
    </div>
  </app-form>
</app-page>
