<form (ngSubmit)="onSubmit($event)" [formGroup]="formGroup" class="row g-3 needs-validation">
  <ng-content></ng-content>

  <ng-container *ngIf="!buttonTemplateRef">
    <div class="col-12">
      <button class="btn btn-primary" type="submit" [disabled]="!enable">
        <ng-container *ngIf="!edit else updateTpl">
          <span translate>Add</span> <span translate>New</span>
        </ng-container>        
        <ng-template #updateTpl>
           <span translate>Update</span>
        </ng-template>       
      </button>
    </div>
  </ng-container>

  <ng-container
    *ngIf="buttonTemplateRef"
    [ngTemplateOutlet]="buttonTemplateRef"
    [ngTemplateOutletContext]="{ $implicit: formGroup, index: i }"
  >
  </ng-container>
</form>

<app-form-debug [form]="formGroup"></app-form-debug>
